{% load static %}
<!DOCTYPE html>
<html lang="ru">
{% load bootstrap5 %}
<head>
    <link type="text/css" href="{% static 'css/styles.css' %}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Default Title{% endblock %}</title>

    {# Load Bootstrap CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}



</head>
<body>
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'cars_list' %}" class="nav-link px-2 text-white">Магазин</a></li>
                <li><a href="{% url 'sell_cars' %}" class="nav-link px-2 text-white">Продать машину</a></li>
                <li><a href="{% url 'image_edit' %}" class="nav-link px-2 text-white">Изменить фото</a></li>
            </ul>
            <div class="text-end">
                {% if request.user.is_authenticated %}
                    {% if user.first_name %}
                                {{ user.first_name }} &nbsp; &nbsp;
                            {% else %}
                                {{ user.username }} &nbsp; &nbsp;
                            {% endif %}
                    <a href="{% url 'basket' %}" class="btn btn-success">Корзина</a>
                    <a href="{% url 'logout' %}" class="btn btn-warning">Выйти</a>
                {% else %}
                    <a href="{% url 'google_login' %}" class="btn btn-info">Войти</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>
{#<div class="container">#}
    {% block content %}{% endblock %}
{#</div>#}

</body>
</html>