{% load static %}
<!DOCTYPE html>
<html lang="en">
{% load bootstrap5 %}
<head>
    <link type="text/css" href="{% static 'css/styles.css' %}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Default Title{% endblock %}</title>

    {# Load Bootstrap CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}


</head>
<body>
 {# navbar block #}
 <header class="navbar-fixed p-3 bg-dark text-white">
     <div class="container">
         <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
             <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                 <li><a href="{% url 'cars_list' %}" class="nav-link px-2 text-white">Shop</a></li>
                 <li><a href="{% url 'sell_cars' %}" class="nav-link px-2 text-white">Sell a Car</a></li>
                 <li><a href="{% url 'my_listed_cars' %}" class="nav-link px-2 text-white">My Listings</a></li>
             </ul>
             <div class="text-end">
                 {% if request.user.is_authenticated %}
                     {% if user.first_name and user.last_name %}
                         {{ user.first_name }} {{ user.last_name }} &nbsp; &nbsp;
                     {% else %}
                         {{ user.username }} &nbsp; &nbsp;
                     {% endif %}
                     <a href="{% url 'payment_status' %}" class="btn btn-success">My Purchases</a>
                     <span class="position-relative me-3">
                        <a href="{% url 'cart' %}" class="btn btn-success">
                            Cart
                            {% if cart_items_count > 0 %}
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{ cart_items_count }}
                    </span>
                            {% endif %}
                    </a>
                    </span>
                     <a href="{% url 'logout' %}" class="btn btn-warning">Log Out</a>
                 {% else %}
                     <a href="{% url 'account_login' %}" class="btn btn-info">Log In</a>
                 {% endif %}
             </div>
         </div>
     </div>
 </header>

    {% block content %}{% endblock %}
{# Block page numbering #}
{% if page_obj.has_other_pages %}
    <nav class="list-pages">
        <ul>

            {% if page_obj.has_previous %}
                <li class="page-num">
                    <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                </li>
            {% endif %}

            {% for p in paginator.page_range %}
                {% if page_obj.number == p %}
                    <li class="page-num page-num-selected">{{ p }}</li>
                {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                    <li class="page-num">
                        <a href="?page={{ p }}">{{ p }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-num">
                    <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                </li>
            {% endif %}

        </ul>
    </nav>
{% endif %}

</body>
</html>