{% load static %}
{% load bootstrap5 %}
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'media/cars-06.jpg' %}" class="d-block w-100" style="max-height: 580px;"
                 alt="Audi_r_RS-6 Image">
        </div>
        <div class="carousel-item">
            <img src="{% static 'media/audi_rs-6.jpg' %}" class="d-block w-100" style="max-height: 580px;"
                 alt="audi_rs-6_2 Image">
        </div>
        <div class="carousel-item">
            <img src="{% static 'media/bmw_i8_kontsept.jpg' %}" class="d-block w-100" style="max-height: 580px;"
                 alt="alfa-romeo-red">
        </div><div class="carousel-item">
            <img src="{% static 'media/cars-019.jpg' %}" class="d-block w-100" style="max-height: 580px;"
                 alt="alfa-romeo-red">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>