{% extends "base.html" %}

{% block title %}Список машин{% endblock %}

{% block content %}
    {% load bootstrap5 %}

    <h4>Выберете клиента и количество машин для заказа</h4>
    <div class="container custom-container">
        <div class="row justify-content-start">
            <div class="col-md-auto">
                <form method="post" action="{% url 'cars_list' %}" class="mb-3">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">Добавить в корзину</button>
                    {% endbuttons %}
                </form>
                {% if result %}
                    <div class="alert alert-success mt-3" role="alert">
                        {{ result }} <br>
                        {{ message }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
