{% extends "base.html" %}
{% load static %}

{% block title %}Список машин{% endblock %}


{% block content %}
    {% load bootstrap5 %}
    {% include 'carousel.html' %}
    <div class="sections mt-3">
        <div class="container">
            <h4 class="text-center">Выберете машины для заказа</h4>
            {% for brand in bands %}
                <section>
                <p>Машини типу - {{ brand }}</p>
                <div class="row">
                {% for car in cars %}
                    {%  if car.car_type.brand == brand %}
                    <div class="col-lg-4">

                        <div class="car-item">

                            <div>
                                <a href="{% url "car_detail" car.id %}"> 
                                    <img class="card-img-top-2" src="{{ car.car_type.image.url }}"
                                         alt="{{ car.car_type.name }}">
                                </a>
                            </div>
                            <h5> {{ car.car_type.brand }} {{ car.car_type.name }}</h5>
                            <p class="mb-2">Год {{ car.year }}</p>
                            <p class="mb-2">Цена: {{ car.car_type.price }}</p>
                            {% if request.user.is_authenticated %}
                                <div class="add-to-cart-btn">
                                    <form method="post" action="{% url 'cars_list' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="car_id" value="{{ car.id }}">
                                        <button type="submit" class="btn btn-dark text-white">Добавить в корзину</button>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
                </section>
            {% endfor %}
            
        </div>
    </div>
{% endblock %}
