<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photo</title>
    <style>
        img.img-article-left {
            max-width: 300px;
            height: auto;
            float: left;
            padding: 0 10px 10px 0;}
    </style>
</head>
<body>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="Submit">
</form>
{% if car_photo.image %}
    <p>{{ car_photo.name }}</p>
    <img class="img-article-left" src="{{ car_photo.image.url }}">
{% endif %}
</body>
</html>