{% extends "base.html" %}

{% block title %}Заказ оформлен{% endblock %}

{% block content %}
    <h2>Заказы</h2>
    {% if list_orders %}
        <table class="base-table table-style-2">
        <tr>
            <th style="width: 10%;">Номер заказа</th>
            <th style="width: 10%;">Клиент</th>
            <th style="width: 5%;">Редактирование</th>
        </tr>
        {% for order in list_orders %}
            <tr>
                <td><a href="{% url 'order_detail' order.id %}">{{ order.id }}</a></td>
                <td>{{ order.client }}</td>
                <td><a href="{% url 'delete_order' order.id %}">Удалить заказ</a></td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>В корзине нет заказов.</p>
{% endif %}
{% endblock %}