{% extends "base.html" %}

{% block title %}Edit Car{% endblock %}

{% block content %}
    {% load bootstrap5 %}

    <div class="container custom-container">
        <h4>Edit Car</h4>
        <div class="row justify-content-start">
            <div class="col-md-auto">
                {% if image_url %}
                    <img src="{{ image_url }}" alt="Car Image" class="img-thumbnail" style="max-width: 450px;">
                    <br>
                {% endif %}
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">Update Listing</button>
                    {% endbuttons %}
                </form>
                {% if result %}
                    <div class="alert alert-success mt-3" role="alert">
                        {{ result }} <br>
                        {{ message }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}