{% extends "base.html" %}

{% block title %}Список машин{% endblock %}

{% block content %}
    {% load bootstrap5 %}

    <div class="container mt-5">
        <div class="row row-cols-2">
            <div class="col">
                <h4>Выберите клиента и количество машин для заказа</h4>
                <form method="post" enctype="multipart/form-data" class="mb-3">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="client" class="form-label">Выберите клиента:</label>
                        <select name="client" id="client" class="form-select">
                            {% for client in clients %}
                                <option value="{{ client.id }}">{{ client.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row row-cols-2">
                        {% for car in car_types %}
                            <div class="col mb-3">
                                <div class="card">
                                    <img class="card-img-top" src="{{ car.car_type.image.url }}"
                                         alt="{{ car.car_type.name }}">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ car.car_type.brand }} {{ car.car_type.name }}</h5>
                                        <label for="quantity_{{ car.car_type.brand }}_{{ car.car_type.name }}_{{ car.car_type.image }}"
                                               class="form-label">Выберите количество:</label>
                                        <select name="quantity_{{ car.car_type.brand }}_{{ car.car_type.name }}_{{ car.car_type.image }}"
                                                id="quantity_{{ car.car_type.brand }}_{{ car.car_type.name }}_{{ car.car_type.image }}"
                                                class="form-select">
                                            {% for i in car.count %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-primary">Добавить в корзину</button>
                </form>
            </div>
        </div>
    </div>

    {% if not clients or not car_types %}
        <div class="container mt-3">
            <div class="row">
                <div class="col">
                    <h5>В БД нет клиентов или машин.</h5>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
