{% extends "base.html" %}

{% block title %}Purchase Status{% endblock %}
{% block content %}
    {% load bootstrap5 %}
    <div class="container mt-4">
        {% if not order %}
            <div class="alert alert-info" role="alert">
                You haven't made any purchases yet. Choose a product to buy.
            </div>
        {% else %}
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Order Information:</h2>
                    {% for ord in order %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title"><a href="{% url 'payment_status_details' ord.id %}">Order Number: {{ ord.id }}</a></h5>
                                <p class="card-text">Purchase Status: {% if ord.is_paid %} Paid {% else %} Not Paid {% endif %}</p>
                                {% if not ord.is_paid %}
                                    <p class="card-text">Payment Link: <a href="{{ ord.invoice_url }}" class="btn btn-primary">Pay</a></p>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

